<div class="row">
  <div class="span9">
   <h3>CURRENT DOI:</h3>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h4>Articles being cited</h4>
    The following DOIs are cited by this article:
  </div>
  <div class="span4 offset1">
    <h4>Articles citing</h4>
    The following DOIs have cited this article:
  </div>
</div>